body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.logo h1 {
    margin: 0;
}

.institution-info {
    margin-top: 5px;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

main {
    padding: 20px;
}

.departments {
    margin-bottom: 40px;
}

.department {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.social-media a {
    color: white;
    margin: 0 10px;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media a:hover {
    color: #ffcc00;
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 5px;
    }

    nav a {
        padding: 8px;
        margin: 0 5px;
    }

    .social-media a {
        margin: 0 5px;
    }
}
